<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <!-- dropdown -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- f icon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div id="container">
        {{#if errors}}
        <div class="notification errorBox">
            {{#each errors}}
            <span>{{this}}</span>
            {{/each}}
        </div>
        {{/if}}
        <nav class="navbar">

            <div id="left-buttons">
                <div class="dropdown">
                    <button class="button" type="button" data-toggle="dropdown">Печива<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/catalog/cakes">торти</a></li>
                        <li><a href="/catalog/gingerbreads">меденки</a></li>
                        <li><a href="/catalog/sweets">сладкиши</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="button" type="button" data-toggle="dropdown">Материали<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/catalog/fondants">фондани</a></li>
                        <li><a href="/catalog/chocolates">шоколади</a></li>
                        <li><a href="/catalog/posh">пошове</a></li>
                        <li><a href="/catalog/paints">сладкарски бои</a></li>
                        <li><a href="/catalog/forms">резци и форми</a></li>
                        <li><a href="/catalog/moulds">калъпи</a></li>
                        <li><a href="/catalog/boxes">кутии и опаковки</a></li>
                    </ul>
                </div>
                <a class="button" href="/gallery">Галерия</a>
                <a class="button" href="/about">Контакти</a>
            </div>

            <div id="right-buttons">
                {{#if user}}
                <span id="greeting">Здравей, {{user.username}}</span>
                {{#if user.admin}}
                <div id="admin">
                    <a class="button" href="/add">Добави</a>
                    <a class="button" href="/ordersList">Поръчки</a>
                </div>
                {{/if}}
                <a id="logoutBtn" class="button" href="/logout">Изход</a>
                <a id="basket" class="button" href="/cart/order"><img class="logo" src="/static/images/cart.jpg" /></a>
                {{else}}
                <a class="button" href="/login">Вход</a>
                <a class="button" href="/register">Регистрация</a>
                {{/if}}
            </div>

        </nav>

        <main id="site-content">
            <span class="cartMsg"><strong></strong></span>
            {{{body}}}
        </main>


        <footer>
            <a href="/about" class="footer-contacts">contacts</a>
            <p>@Djini's Backery</p>
            <a href="https://www.facebook.com/search/top?q=%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B0%20%D0%BF%D0%B5%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%20%22jinni%20bakery%20%22" class="fa fa-facebook"></a>
        </footer>
    </div>
</body>

</html>