<section id="dashboard-page" class="dashboard">
    {{#if backery}}
    <ul class="other-books-list">
        {{#each backery}}
        <form action="/order/{{_id}}" method="post" class="backery">
            <li class="otherBooks">
                <p><strong>{{name}}</strong></p>
                <p class="img"><img src="{{img}}"></p>
                <p>{{price}} лв</p>
                <a class="button" href="/details/{{_id}}">Описание</a>
                {{#if ../user}}
                <div class="options">

                    <span>Количество: <input class="qty" name="quantity" id="quantity" type="number" /></span>
                    <p id="validate">Моля въведете положително число.</p>
                    <input type="submit" id="validateBtn" class="button" value="Добави" />
                </div>
                {{/if}}
            </li>
        </form>
        {{/each}}
    </ul>
    {{else}}
    <p class="no-books">Все още няма печива.</p>
    {{/if}}
</section>

<script src="/static/frontend/validValue.js"></script>