<section class="details">
    <div class="product-info">

        <h3><strong>{{backery.name}}</strong></h3>
        <p class="img"><img src="{{backery.img}}"></p>
        <div class="actions">

            {{#if user}}
            {{#if hasLiked}}
            {{else}}
            <div class="likeBtn">
                <form method="post">
                    <input type="submit" class="button" value="Like" />
                </form>

            </div>
            {{/if}}
            {{/if}}
            <div class="likes">
                <span class="">{{backery.likes}}</span><img class="hearts" src="/static/images/heart.png" />
            </div>
        </div>
    </div>

    <div class="product-description">

        <h3>Описание:</h3>
        <p>{{backery.description}}</p>

    </div>
</section>