<section id="details-page" class="details">

    <div class="book-information">
        <h3>{{backery.name}}</h3>

        <p class="img"><img src="{{backery.img}}"></p>
        <div class="actions">
            {{#if user}}
            {{#if hasLiked}}
            {{else}}
            <form method="post">
                <input type="submit" class="button" value="Like" />
            </form>
            {{/if}}
            {{/if}}
            <div class="likes">
                <span>{{backery.likes}}</span><img class="hearts" src="/static/images/heart.png" />
            </div>
        </div>
    </div>
    <div class="book-description">
        <h3>Описание:</h3>
        <p>{{backery.description}}</p>
    </div>
</section>