<section id="dashboard-page" class="dashboard">
    {{#if orders}}
    <ul class="product">
        {{#each orders}}
        <li class="everyProduct">
            {{#if accepted}}
            {{else}}
            <div id="msg"><strong>непотвърдена</strong></div>
            {{/if}}
            <p class="field">
                <label for="description">продукти:</label>
                <span class="input">
                    {{#each products}}
                    <div>{{name}} -- {{quantity}} бр.</div>
                    {{/each}}
                </span>
            </p>
            <p class="field">
                <label for="image">Общо:</label>
                <span class="input">
                    <div>{{totalPrice}} лв.</div>
                </span>
            </p>
            <p class="field">
                <label for="description">данни за клиента:</label>
                <span class="input">

                    <div>{{name}}</div>
                    <div>{{address}}</div>
                    <div>{{phone}}</div>
                    <div>{{client }}</div>

                </span>
            </p>
            <a class="button" href="/ordersList/{{_id}}/delete">Приключи</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="no-products">Няма нови поръчки.</p>
    {{/if}}
</section>